# Arquivo .gitignore

# Ambiente Virtual do Poetry ou Venv
.venv/
venv/
/api_bancaria-*-py*/

# Caches do Python
__pycache__/
*.pyc

# Banco de Dados
*.db
*.sqlite3

# Arquivos de IDEs (VSCode, PyCharm)
.vscode/
.idea/g